html { 
    background: url(images/kaylasbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body{
    height: 100%;
    margin-left: 0px;
}
#bg{
    height: 100%;
    background-position: center;  
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: #8c4d2e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    padding-bottom: 10px;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    border: 0;
    outline: none;
    color: black;
    letter-spacing: 5px;
    text-decoration: underline;
}
.navlink:hover{
    text-transform: uppercase;
}
ul{
    list-style: none;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}
a{
    color: blanchedalmond;
}
#logo{
    font-family: Caveat;
    font-size: 55px;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}
.frontpage{
    background-color: rgba(236,201,152,0.7);
    padding: 70px;
    margin:50px;
    position: static;
    opacity: 0.7;
    padding-top: 100px;
    text-align: center;
    font-family: bebas neue, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}   
.footer{
    color: blanchedalmond;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: static;
    bottom: 0;
}
/* menu page*/
.drinkhead{
    text-align: center;
    width:100%;
    font-size: 50px;
}
.drinkheaders{
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 0;
}
.draft{
    border: black;
    border-style: solid;
    width: 50%;
}
.wine{
    border: black;
    border-style: solid;
    width: 45%;
    ;
}
.pdct{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}